:root {
    /* COLORS */
    --dark-gold: #c8945f;
    --gold: #e4c590;
    --quick-silver: #a6a6a6;
    --davys-grey: #595754;
    --smoky-black-1: #0e0d0b;
    --smoky-black-2: #0e0d0c;
    --smoky-black-3: #121111;
    --eerie-black-1: #161718;
    --eerie-black-2: #1b1c1d;
    --eerie-black-3: #141515;
    --eerie-black-4: #212121;
    --white: #ffffff;
    --white-alpha-20: #ffffff33;
    --white-alpha-10: #ffffff1a;
    --black: #000000;
    --black-alpha-80: #000000cc;
    --black-alpha-15: #00000026;
    --error: #af0606;
    --black-blood: #3b0110;

    /* GRADIENT COLORS */
    --loading-text-gradient: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%, transparent 66.66% 75%);
    --gradient-1: linear-gradient(to top, hsla(0, 0%, 0%, 0.9), hsla(0, 0%, 0%, 0.7), transparent);

    /* TYPOGRAPHY */

    /* FONT-FAMILY */
    --fontFamily-fraunces: 'Fraunces', sans-serif;
    --fontFamily-dm_sans: 'DM Sans', sans-serif;
    --fontFamily-abril-fatface: 'Abril Fatface', sans-serif;

    /* FONT SIZES */
    --fontSize-display-1: calc(1.3rem + 6.7vw);
    --fontSize-display-2: calc(1.1rem + 5.4vw);
    --fontSize-headline-1: calc(2rem + 2.5vw);
    --fontSize-headline-2: calc(1.3rem + 2.4vw);
    --fontSize-title-1: calc(1.6rem + 1.2vw);
    --fontSize-title-2: 2.2rem;
    --fontSize-title-3: 2.1rem;
    --fontSize-title-4: calc(1.6rem + 1.2vw);
    --fontSize-body-1: 2.4rem;
    --fontSize-body-2: 1.6rem;
    --fontSize-body-3: 1.8rem;
    --fontSize-body-4: 1.6rem;
    --fontSize-label-1: 1.4rem;
    --fontSize-label-2: 1.2rem;

    /* LINE HEIGHT */
    --lineHeight-1: 1em;
    --lineHeight-2: 1.2em;
    --lineHeight-3: 1.5em;
    --lineHeight-4: 1.6em;
    --lineHeight-5: 1.85em;
    --lineHeight-6: 1.4em;

    /* FONT-WEIGHT */
    --weight-regular: 400;
    --weight-bold: 700;

    /* LETTER SPACING */
    --letterSpacing-1: 0.15em;
    --letterSpacing-2: 0.4em;
    --letterSpacing-3: 0.2em;
    --letterSpacing-4: 0.3em;
    --letterSpacing-5: 3px;

    /* SPACING */
    --section-space: 70px;

    /* SHADOW */
    --shadow-1: 0px 0px 25px 0px hsla(0, 0%, 0%, 0.25);

    /* BORDER RADIUS */
    --radius-24: 24px;
    --radius-circle: 50%;

    /* TRANSITIONS */
    --transition-1: 250ms ease;
    --transition-2: 500ms ease;
    --transition-3: 1000ms ease;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a,
img,
data,
span,
input,
button,
select,
ion-icon,
textarea {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    height: auto;
}

input,
button,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea {
    width: 100%;
    outline: none;
}

button,
.cursor {
    cursor: pointer;
}

address {
    font-style: normal;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--eerie-black-1);
    color: var(--white);
    font-family: var(--fontFamily-dm_sans);
    font-weight: var(--weight-regular);
    font-size: var(--fontSize-body-4);
    line-height: var(--lineHeight-5);
    height: 300vh;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-gold);
    border-radius: var(--radius-24);

}

.font-family-fraunces {
    font-family: var(--fontFamily-fraunces);
}

.font-family-abril-fatface {
    font-family: var(--fontFamily-abril-fatface);
}


.display-1,
.headline-1,
.headline-2,
.title-1,
.title-2,
.title-3,
.title-4 {
    color: var(--white);
    font-family: var(--fontFamily-forum);
    font-weight: var(--weight-regular);
    line-height: var(--lineHeight-2);
}

.display-1 {
    font-size: var(--fontSize-display-1);
    line-height: var(--lineHeight-1);
}

.headline-1 {
    font-size: var(--fontSize-headline-1);
}

.headline-2 {
    font-size: var(--fontSize-headline-2);
    line-height: var(--lineHeight-6);
}

.title-1 {
    font-size: var(--fontSize-title-1);
}

.title-2 {
    font-size: var(--fontSize-title-2);
}

.title-3 {
    font-size: var(--fontSize-title-3);
}

.title-4 {
    font-size: var(--fontSize-title-4);
}

.body-1 {
    font-size: var(--fontSize-body-1);
    line-height: var(--lineHeight-6);
}

.body-2 {
    font-size: var(--fontSize-body-2);
    line-height: var(--lineHeight-4);
}

.body-3 {
    font-size: var(--fontSize-body-3);
}

.body-4 {
    font-size: var(--fontSize-body-4);
}

.label-1 {
    font-size: var(--fontSize-label-1);
}

.label-2 {
    font-size: var(--fontSize-label-2);
}

.label-3 {
    font-size: var(--fontSize-label-3);
}

.bold {
    font-weight: var(--weight-bold);
}

.shape {
    z-index: -10;
    pointer-events: none;
    animation: shape 8s infinite linear;
}

@keyframes shape {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

/* --------------------------------------------- */
/* REUSED STYLES */
/* --------------------------------------------- */

.container {
    padding-inline: 16px;
}

.icon {
    display: flex;
    align-items: center;
    padding-inline: 5px;
}

.separator {
    height: 8px;
    width: 8px;
    aspect-ratio: 1;
    border: 1px solid var(--gold);
    transform: rotate(45deg);
    margin: auto;
}

.hover-gold {
    transition: var(--transition-2);
}

.hover-gold:is(:hover, :focus-visible) {
    color: var(--dark-gold);
}

.highlight {
    position: relative;
    width: max-content;
    height: min-content;
    padding: 2px 5px;
    font-size: var(--fontSize-label-2);
    margin: auto;
    line-height: var(--lineHeight-6);
    background-color: var(--gold);
    color: var(--black);
    border-radius: 999px;
    font-weight: var(--weight-bold);
}

.hightlight::after {
    position: absolute;
    content: "";
    inset: 0;

    width: inherit;
    height: inherit;
    /* animation: rotate360 15s infinite linear; */
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.special-text {
    margin-inline: 5px;
    font-weight: var(--weight-bold);
    color: #f5f5f5;
}

.glow-effect {
    letter-spacing: var(--letterSpacing-1);
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 5px rgb(255, 255, 255, 0.1), 0 0 5px #fff;
        opacity: 0.9;
    }

    100% {
        text-shadow: 0 0 20px #fff, 0 0 10px var(--gold);
        opacity: 0.8;
    }
}

.hover-underline {
    width: max-content;
    position: relative;
}

.hover-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 5px;
    border-block-start: 1px solid var(--gold);
    transition: var(--transition-2);
    transition-delay: 500ms;
    opacity: 0;
    transform-origin: left;
}

.hover-underline::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    border-block-start: 1px solid var(--gold);
    transition: var(--transition-2);
    transition-delay: 250ms;
    opacity: 0;
    transform-origin: left;

}


.hover-underline:is(:hover, :focus-visible)::before {
    opacity: 1;
    animation: underline .6s linear alternate;
}

.hover-underline:is(:hover, :focus-visible)::after {
    opacity: 1;
    animation: underline 1s linear alternate;
}

@keyframes underline {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.btn {
    position: relative;
    color: var(--white);
    background-color: var(--gold);
    padding: 12px 35px;
    text-wrap: nowrap;
    text-transform: uppercase;
    color: var(--eerie-black-3);
    font-size: var(--fontSize-label-2);
    font-weight: var(--weight-bold);
    letter-spacing: var(--letterSpacing-1);
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--gold);
}

.btn::before {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: 100%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: var(--smoky-black-3);
    border-radius: var(--radius-circle);
    transform: translateY(0);
    transition: var(--transition-2);
}

.btn .text {
    transition: var(--transition-2);
}

.btn .text-1 {
    transition: var(--transition-2);
    transform: translateY(0);
}

.btn:hover .text-1 {
    transform: translateY(200%);

}

.btn:is(:hover, :focus-within)::before {
    transform: translateY(90%);
}

.btn .text-2 {
    position: absolute;
    transform: translateY(-300%);
    transition: var(--transition-2);
    color: var(--white);

}

.btn-primary .text-2 {
    color: var(white);
}

.btn:hover .text-2 {
    transform: translateY(-100%);
}

.btn-secondary {
    background-color: var(--smoky-black-3);
}

.btn-secondary .text-1 {
    color: var(--white);
}

.btn-secondary.btn::before {
    background-color: var(--gold);
}

.btn-secondary .text-2 {
    color: var(--black);
}

.btn-2:hover {
    color: var(--smoky-black-2);
}

.btn-2 {
    position: relative;
    width: max-content;
    text-transform: uppercase;
    font-size: var(--fontSize-body-5);
    letter-spacing: var(--letterSpacing-1);
    transition: var(--transition-1);
    color: #595754;
}

.btn-2::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10%;
    height: 2px;
    width: 160px;
    background-color: var(--dark-gold);
    transform-origin: left;
}

.btn-2:is(:hover, :focus-visible)::after {
    transition: var(--transition-1);
    animation: scale-x .4s linear forwards;
}

@keyframes scale-x {
    0% {
        transform: scaleX(100%);
    }

    100% {
        transform: scaleX(0);
    }
}

.btn-2:not(:hover, :focus-visible)::after {
    animation: scale-x-reverse .4s forwards;
}

@keyframes scale-x-reverse {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(100%);
    }
}

.text-center {
    text-align: center;
}

body.no-scroll {
    overflow-y: hidden;
}

.separator-img {
    margin-inline: auto;
    max-width: 120px;
}

.flex-r {
    display: flex;
    flex-direction: row;
}

.section-subtitle {
    text-transform: uppercase;
    letter-spacing: var(--letterSpacing-4);
    font-weight: var(--weight-bold);
    color: var(--gold);
    animation-delay: 100ms;
    transition: var(--transition-1);
}

.delay-2 {
    transition-delay: .2s;
}

.delay-4 {
    transition-delay: .4s;
}

.delay-5 {
    transition-delay: .5s;
}

.delay-6 {
    transition-delay: .6s;
}

.delay-7 {
    transition-delay: .7s;
}

.delay-8 {
    transition-delay: .8s;
}

.animate {
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
    animation: scale-reverse 0.5s;
}

@keyframes scale-reverse {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}

/* --------------------------------------------- */
/* TOPBAR */
/* --------------------------------------------- */
.topbar {
    /* isolation: isolate; */
    background: transparent;
}

.topbar .container {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    margin-inline: auto;
    padding-block: 5px;
    border-block-end: 1px solid var(--white-alpha-20);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.topbar-item {
    white-space: nowrap;
    display: flex;
    font-size: var(--fontSize-label-2);
    gap: 1px;
    margin-inline-end: 35px;
}

.topbar-section {
    display: flex;
    justify-content: space-between;
}

/* --------------------------------------------- */
/* NAVBAR */
/* --------------------------------------------- */
.navbar.hide {
    transform: translateY(-200%);
    transition-delay: 250ms;
}

.navbar.active {
    background-color: var(--eerie-black-4);
    border-color: var(--black-alpha-15);
}

.navbar {
    position: fixed;
    top: 8%;
    left: 0;
    width: 100%;
    padding-block: 0px;
    margin-block-start: 0;
    z-index: 10;
    transition: var(--transition-1);
}

.navbar-item {
    display: flex;
}

.navbar-list {
    display: flex;
    gap: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.separator {
    display: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link {
    text-transform: uppercase;
    font-weight: 600;
    font-size: var(--fontSize-label-1);
    letter-spacing: var(--letterSpacing-1);
    transition: var(--transition-2);
}

.navbar-link:is(:hover, :focus-visible) {
    color: var(--gold);
}

.drop-down {
    position: relative;
}

.navbar-item .dropdown-section {
    position: absolute;
    background-color: var(--eerie-black-4);
    border: 1px solid var(--smoky-black-3);
    border-radius: 5px;
    padding: 20px 30px;
    top: 150%;
    left: 0%;
    display: none;
}

.navbar-list:nth-of-type(6):hover .dropdown-section,
.navbar-item.active .dropdown-section {
    display: grid;
}


.hamburger-menu {
    display: none;
}

.hamburger-menu .line {
    height: 2px;
    width: 30px;
    background-color: #f5f6cd;
    margin-block-end: 5px;
    transform-origin: left;
    animation: menubar 1s infinite alternate;
}

@keyframes menubar {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

.hamburger-menu .line-1 {
    transition: var(--transition-1);
    animation-delay: 100ms;
}

.hamburger-menu .line-2 {
    transition: var(--transition-1);
    animation-delay: 200ms;
}

.hamburger-menu .line-3 {
    transition: var(--transition-1);
    animation-delay: 300ms;
}



/* --------------------------------------------- */
/* SIDEBAR */
/* --------------------------------------------- */

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--black-alpha-80);
    pointer-events: none;
    z-index: 1;
    opacity: 0;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 370px;
    height: 100vh;
    background-color: var(--eerie-black-4);
    padding: 20px;
    overflow: scroll;
    transform: translateX(-370px);
    transform-origin: left;
    animation: slideright .1s linear forwards;
}

.sidebar.active {
    animation: slideleft .1s linear forwards;
}

@keyframes slideleft {
    from {
        transform: translateX(-370px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideright {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-370px);
    }
}

.sidebar-item {
    display: flex;
}

.sidebar .logo {
    margin-block-end: 20px;
}

.sidebar .separator {
    display: grid;
    text-align: left;
    margin-inline: 0 10px;
    opacity: 0;
    transition: var(--transition-2);
}


.sidebar .close-btn ion-icon {
    --ionicon-stroke-width: 50px;
    /* */
    color: var(--white);
    border: 1.3px solid currentColor;
    padding: 4px;
    border-radius: var(--radius-circle);
    margin-inline-start: auto;
    margin-block: 10px 20px;
}

.sidebar .close-btn ion-icon:is(:hover, :focus-visible) {
    color: var(--dark-gold);
}

.sidebar .sidebar-links .sidebar-item {
    padding-block: 10px;
    border-block-end: 1px solid var(--davys-grey);
    transition: var(--transition-2);
}

.sidebar .sidebar-links {
    margin-block-end: 100px;
}

.sidebar .sidebar-links .sidebar-item:is(:hover, :focus-visible) {
    color: var(--dark-gold);
    transform: translateX(10px);
}

.sidebar .sidebar-list:nth-of-type(6) .sidebar-item:is(:hover, :focus-visible) .flex-r {
    color: var(--dark-gold);
}

.sidebar .sidebar-links .sidebar-item:is(:hover, :focus-visible) .separator {
    opacity: 1;
}

.sidebar .sidebar-dropdown a:hover {
    color: var(--gold);

}

.fraunces {
    font-family: var(--fontFamily-fraunces);
    font-size: var(--fontSize-headline-2);
}

.sidebar-section .sidebar-item {
    color: var(--quick-silver);
    width: max-content;
    margin-inline: auto;
    margin-block: 10px;
}

.sidebar .sidebar-section .separator {
    display: grid;
    opacity: 1;
    margin-inline: auto;
}

.sidebar .sidebar-dropdown {
    transition: var(--transition-3);
    display: none;
}

.sidebar .sidebar-dropdown.active {
    display: grid;
}

.sidebar .text-booking {
    font-weight: var(--weight-bold);
    color: var(--white);
}

.sidebar .text-phone {
    color: var(--gold);
    margin-inline: auto;
}

.sidebar .sidebar-dropdown-section {
    flex-direction: column;
}

/* --------------------------------------------- */
/* HERO SECTION */
/* --------------------------------------------- */
.hero {
    position: relative;
    height: 100vh;
}

.img-cover {
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    background-position: center;
}

.hero .hero-slider-bg {
    z-index: -10;
    position: absolute;
    top: 0;
    transition: var(--transition-1);
    animation: scale 20s linear forwards;
}

.hero .hero-slider-item {
    display: none;
}

.hero .hero-slider-item.active {
    opacity: 1;
    visibility: visible;
    display: block;
}

@keyframes scale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

.hero .hero-slider {
    position: absolute;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    place-content: center;
    /* margin-block-end: 40px; */
    padding-block-start: 30vh;
    overflow: hidden;
    transition: var(--transition-1);

}

.hero .hero-separator {
    animation-delay: 100ms;
    transition: var(--transition-1);

}

.hero .hero-title {
    font-family: var(--fontFamily-fraunces);
    line-height: var(--lineHeight-2);
    font-size: var(--fontSize-display-2);
    margin-block-start: 40px;
    animation-delay: 250ms;
    transition: var(--transition-1);

}

.hero .hero-text {
    text-wrap: wrap;
    max-width: 55vw;
    margin-inline: auto;
    margin-block-start: 10px;
    animation-delay: 500ms;
    transition: var(--transition-1);

}

.hero .hero-btn {
    max-width: min-content;
    margin-inline: auto;
    margin-block-start: 20px;
    animation-delay: 1s;
    transition: var(--transition-1);

}

.slider-up-item {
    transform: translateY(90vh);
    animation: slider-up 2s linear forwards;
}

@keyframes slider-up {
    from {
        transform: translateY(90vh)
    }

    to {
        transform: translateY(0)
    }

}

.hero-arrow {
    width: max-content;
    height: 100%;
}

.hero-arrow .arrow-back {
    position: absolute;
    margin-inline-start: 30px;
    --ionicon-stroke-width: 60px;
    top: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.hero-arrow ion-icon {
    position: relative;
    font-size: 30px;
    color: var(--gold);
    transition: var(--transition-1);
}

.hero-arrow .border-rotate {
    position: absolute;
    height: 40px;
    width: 40px;
    border: 1px solid var(--gold);
    transform: rotate(45deg);
    transition: var(--transition-1);
}

.hero-arrow .arrow-next .border-rotate {
    position: absolute;
    bottom: 45.2%;
    right: 1.8%;
}

.hero-arrow .arrow-back:is(:hover, :focus-within) ion-icon,
.hero-arrow .arrow-next:is(:hover, :focus-within) ion-icon {
    color: var(--smoky-black-2);
}

.hero-arrow .arrow-back:is(:hover, :focus-visible) .border-rotate,
.hero-arrow .arrow-next:is(:hover, :focus-visible) .border-rotate {
    background-color: var(--gold);
}

.hero-arrow .arrow-next ion-icon {
    position: absolute;
    margin-inline-end: 30px;
    --ionicon-stroke-width: 50px;
    font-size: 30px;
    top: 50%;
    right: 0%;
}

/* --------------------------------------------- */
/* HERITAGE SECTION */
/* --------------------------------------------- */


.heritage {
    position: relative;
    width: 100%;
    height: 100vh;
    transition: var(--transition-2);
    z-index: 1;
    overflow: hidden;
    padding: 50px;
    margin-inline-end: 100px;
}

.heritage .heritage-bg {
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d11;
    opacity: 0.02;
    background-image: radial-gradient(#e4c590 17%, #0d0d11 18% 35%, transparent 36.5%), radial-gradient(#e4c590 17%, #0d0d11 18% 35%, transparent 36.5%), radial-gradient(#0d0d11 34%, #e4c590 36% 68%, transparent 70%), repeating-linear-gradient(45deg, #e4c590 -12.5% 12.5%, #0d0d11 0 37.5%);
    background-position: -20px -20px, 20px 20px, 0 0, 0 0;
    background-size: 80px 80px, 80px 80px, 40px 40px, 80px 80px;
    background-repeat: repeat;
    z-index: -100;
    transition: var(--transition-2);

}

.heritage .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    height: 80vh;
    max-width: 100%;
    margin-inline-start: 5vw;
    margin-block-start: 0rem;
    padding: 0.5rem 0 0 4rem;
    border-inline-start: 5px solid var(--gold);
    transition: var(--transition-2);
}

.heritage .overlay-content .headline-1 {
    margin-block: 4rem;
    margin-block-start: 8rem;
    /* place-self: center; */
    width: calc(50px + 2vw);
    max-width: 100%;
    transition: var(--transition-2);

}

.heritage .image-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 60vw;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: var(--transition-2);
    background-image: url(/images/heritage-img.jpg);
    background-position: bottom center;
    margin: 40px;
    margin-block-start: 5rem;
    transition: var(--transition-2);
    z-index: -10;
}

.heritage-insider-img {
    max-width: 100%;
    height: 50vh;
    border-radius: 20px;
}

.heritage-insider {
    max-height: max-content;
    width: auto;
}

.dots {
    position: absolute;
    bottom: 14rem;
    right: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 70px;
    height: 4vmin;
    transition: 0.3s ease-in-out 0.3s;
    z-index: 10;

}

.dot {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1;
    background: var(--gold);
    border: 1px solid var(--black-alpha-80);
    border-radius: 50%;
    transition: 0.3s ease-in-out 0.3s;
    z-index: 10;
}

.heritage .section-subtitle {
    width: 200px;

}

.section-text {
    display: grid;
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 80vh;
    padding: 5vmin 6vmin;
    margin-inline-end: 40px;
    margin-block-start: 50px;
    border: .5px solid var(--dark-gold);
    z-index: -50;
    color: var(--gold);
    background: var(--black-blood);
    box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / 0.4);
    overflow-y: scroll;
    transition: var(--transition-2);
    font-family: var(--fontFamily-fraunces);

}

.section-text span {
    display: inline-block;
    margin-block-start: -50px;
    padding: 0;
}

.section-text .logo {
    place-content: center;
    width: 100%;
    text-align: center;
}

.wrap:hover .overlay-content {
    /* transform: translateX(-40vw); */
    transition: var(--transition-3);
    border: none;
    animation: text-slide 1s forwards linear;

    pointer-events: none;

}

@keyframes text-slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-40vw);
    }

    100% {
        transform: translateX(0vw);
    }
}


.wrap:hover .image-content {
    transform: translateX(-50vw);
    width: 40vw;
    /* height: 80vh; */
    opacity: 0.7;
    transition: var(--transition-3);
    pointer-events: none;

}

.wrap:hover .dots {
    transform: translateX(-50vw);
    transition: var(--transition-3);
    pointer-events: none;

}

/* --------------------------------------------- */
/* DISCOVER-MENU SECTION */
/* --------------------------------------------- */
.disc-menu .container {
    margin-block-start: -5vh;
    z-index: -10;
}

.disc-menu-img img {
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.disc-menu-card {
    padding: 3rem;
    background: url(/images/10026.jpg);
    background-size: cover;
    color: var(--eerie-black-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.disc-menu .container {
    display: grid;
    grid-template-columns: 45% repeat(2, 1fr);
    grid-template-rows: repeat(3, 30%);
    gap: 0;
}

.disc-menu-title {
    font-weight: var(--weight-regular);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: var(--fontFamily-fraunces);
}

.disc-menu-main {
    height: 100%;
    grid-row: 1 / span 3;
    grid-column: 1 / 2;
}

.menu-card-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/* --------------------------------------------- */
/* SPECIAL MENU SECTION */
/* --------------------------------------------- */
.special-menu .container {
    position: relative;
    height: 100%;
}

.special-menu-bg {
    background: url(/images/special-menu-bg.jpg);
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    left: 0;
    right: 0;
    z-index: -10;
}

.special-menu .container::before {
    content: "";
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(var(--black-alpha-15) 2%, var(--black));
    z-index: -20;
}

.special-menu .shape-6 {
    position: absolute;
    top: 55%;
    right: 0%;
}

.special-menu .shape-1 {
    position: absolute;
    top: 0%;
    left: 0%;
}

.special-menu .shape-2 {
    position: absolute;
    top: 10%;
    right: 0;
}

.special-menu .headline-2 {
    text-shadow: 0px 2px 7px rgba(166, 166, 166, 0.81);
}

.special-menu .label-3 {
    margin-block: 1rem;
    color: var(--dark-gold);

}

.special-menu .slide-item {
    height: max-content;
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
    color: var(--smoky-black-1);
}

.slide-item {
    transition: var(--transition-1);
    pointer-events: all;
    cursor: pointer;
    /* justify-content: space-evenly; */
    flex: 0 0 calc(33.333% - 14px);

}

.slide-items {
    transition: var(--transition-1);
    align-items: start;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    /* margin-block-start: 10px; */
}

.slide-items::-webkit-scrollbar {
    display: none;
}

.slide-item .slide-item-img img {
    width: 360px;
    height: 280px;
    margin-inline: auto;
    object-fit: cover;
}

.slide-item-title {
    font-weight: var(--weight-bold);
    text-transform: uppercase;
    font-family: var(--fontFamily-forum);
    font-size: var(--fontSize-title-2);
    margin-block: 1rem;
    letter-spacing: .1rem;
}

.slide-item-rate {
    font-size: var(--fontSize-title-3);
    justify-content: space-between;
}

.slide-item-rating {
    justify-content: baseline;
    align-items: center;
    gap: 2px;
    color: var(--error);
}

.slide-item-rating ion-icon {
    margin-block-end: 3px;
}

.slide-item-subtitle {
    font-size: var(--fontSize-label-4);
    color: var(--davys-grey);
    line-height: 24px;
    margin-block-start: 10px;
    transform-origin: top;
}

.special-menu button {
    display: inline-block;
    border-radius: 50%;
    padding: 1rem 2rem;
    z-index: 10;
    background-color: var(--gold);
    text-align: center;
}

.special-menu-btn {
    gap: 20px;
    text-align: center;
    margin-inline-start: 48%;
    margin-block-start: 15px;
}

#prev-btn:hover {
    transition: var(--transition-1);
    color: var(--dark-gold);
    background-color: white;
}

#next-btn:hover {
    transition: var(--transition-1);
    color: var(--dark-gold);
    background-color: white;
}

.special-menu-btn .btn-primary {
    padding: 10px 20px;
}

/* --------------------------------------------- */
/* FEATURES SECTION */
/* --------------------------------------------- */
.features-section {
    position: relative;
    max-width: 1200px;
    height: max-content;
    margin: 100px auto;
    overflow: hidden;
}

.features-items {
    position: relative;
    padding: 7rem 2rem;
}

.timeline {
    content: "";
    position: absolute;
    width: 6px;
    height: 0;
    background: var(--gold);
    top: 5%;
    left: 48.5%;
    margin: -3px;
    z-index: -1;
    transition: var(--transition-1);
}

.features-item {
    position: relative;
    width: 40%;
    background-color: var(--white-alpha-20);
    background:
        linear-gradient(180deg,
            rgba(55, 42, 30, .95),
            rgba(28, 22, 18, .95));

    border: 1px solid rgba(212, 175, 55, .15);
    box-shadow: 0px 4px 0px 2px #a6a6a6;
    border-radius: 10px;
    padding: 25px;
    color: white;
    margin: 4rem;
    margin-inline-end: 1rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
    transition: var(--transition-2);
    padding-top: 2rem;
}

.features-item.display {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.features-item .icon {
    position: absolute;
    background-color: var(--dark-gold);
    border-radius: 50%;
    right: -80px;
    padding: 8px;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: var(--transition-1);
    transform: scale(0.5);
}

@keyframes scale-icon {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.right-container {
    transform: translateX(100%);
}

.left-container {
    transform: translateX(-100%);
}

.card-1.display {
    transition: var(--transition-3);
    transform: translateX(0) scale(1.03);
}

.card-2.display {
    transition: var(--transition-3);
    transform: translateX(0) scale(1.03);
}

.card-3.display {
    transition: var(--transition-3);
    transform: translateX(0) scale(1.03);
}

.card-4.display {
    transition: var(--transition-3);
    transform: translateX(0) scale(1.03);
}

.card-5.display {
    transition: var(--transition-3);
    transform: translateX(0) scale(1.03);
}

.card-1.display .icon {
    opacity: 1;
    visibility: visible;
    animation: scale-icon 1s linear forwards;
}

.card-2.display .icon {
    opacity: 1;
    visibility: visible;
    animation: scale-icon 2s linear forwards;

}

.card-3.display .icon {
    opacity: 1;
    visibility: visible;
    animation: scale-icon 2s linear forwards;

}

.card-4.display .icon {
    opacity: 1;
    visibility: visible;
    animation: scale-icon 2s linear forwards;

}

.card-5.display .icon {
    opacity: 1;
    visibility: visible;
    animation: scale-icon 2s linear forwards;

}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 30px;
    right: -9.5px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 10px solid rgba(55, 42, 30, .95);

}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 30px;
    left: -9.5px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 10px solid rgba(55, 42, 30, .95);

}

.features-item:hover {
    transform: translateY(-15px) scale(1.03);
}

.features-item:hover .icon {
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}


.right-container .icon {
    right: auto;
    left: -75px;
}

.features-item .icon ion-icon,
.features-item .icon img {
    width: 40px;
    height: 40px;
    color: white;

}

.features-title {
    text-transform: uppercase;
    font-weight: var(--weight-regular);
    font-family: var(--fontFamily-fraunces);
    font-size: var(--fontSize-body-1);
    color: var(--gold);
}

.features-subtitle {
    font-weight: var(--weight-bold);
    padding-block: 1rem;
    line-height: var(--lineHeight-3);
    font-size: var(--fontSize-title-3);
}

.right-container {
    left: 50%;
}

/* ----------------------------------------------- */
/* GALLERY SECTION */
/* ----------------------------------------------- */


/* ----------------------------------------------- */
/* PRIVATE DINING SECTION */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* TESTIMONALS */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* TEAM SECTION */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* RESERVATION SECTION */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* FAQ SECTION */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* SUBSCRIBE SECTION */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/* MEDIA QUERIES */
/* ----------------------------------------------- */

/* TOPBAR */
@media (max-width:1250px) {

    .topbar,
    .book-table-btn {
        display: none;
    }

    .navbar {
        top: 0;
        left: 0;
    }

    .hero-arrow {
        display: none;
    }

    .hero .hero-slider {
        padding-block-start: 20vh;
    }

    /* FEATURES SECTION */
    .features-section {
        margin: 50px auto;

    }

    .right-container {
        left: 0;
    }

    .features-item {
        width: 90%;

    }

    .timeline {
        top: 0;
        left: 25px;
    }

    .left-container-arrow {
        top: 30px;
        left: -9.5px;
        z-index: 1;
        border-left: none;
        border-right: 10px solid var(--white-alpha-20);

    }

    .right-container .icon {
        right: auto;
        left: -70px;
    }

    .left-container .icon {
        right: auto;
        left: -70px;
    }


}

@media (max-width:1100px) {
    .navbar .navbar-links {
        display: none;
    }

    .logo img {
        padding-inline-end: 20px;
        max-width: 100%;
        height: auto;
    }

    .hamburger-menu {
        padding-block-end: 10px;
        margin-inline: 10px;
        display: flex;
        flex-direction: column;
    }

    .hero .hero-text {
        max-width: 100%;
        margin-inline: 40px;
    }

    /* HERITAGE SECTION */
    .heritage {
        height: auto;
        min-height: 100vh;
        pointer-events: none;
    }

    .heritage .heritage-overlay {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-inline: auto;
    }

    .heritage .overlay-content {
        border: none;
        margin: 0;
        padding: 0;
        transition: var(--transition-2);
    }

    .heritage .overlay-content .headline-1 {
        white-space: nowrap;
        margin-block: 0;
        width: 100%;
        /* padding-inline: 0 40px; */
        text-align: center;
        margin-inline: auto;
        transition: var(--transition-2);
        font-size: var(--fontSize-headline-1);
        word-spacing: 1rem;

    }

    .heritage .separator-img {
        /* padding-inline: 0 40px; */
        background-image: url(/images/separator.svg);
        background-repeat: no-repeat;
        width: 30vw;
        margin-block: 3px 20px;
        z-index: 100;
    }

    .heritage .section-subtitle {
        white-space: nowrap;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0;
        display: inline-block;
        /* padding-inline: 0 40px; */
        font-size: calc(1.1rem + .5vw);
        letter-spacing: 2.5px;
        max-width: 100%;
        margin-inline: auto;
    }

    .heritage .image-content {
        object-fit: contain;
        background-image: url(/images/heritage-img.jpg);
        transition: var(--transition-2);
        z-index: 0;
        position: absolute;
        top: clamp(80px, 8vh, 200px);
        /* was: absolute */
        width: 100%;
        height: 300px;
        aspect-ratio: 16 / 9;
        max-width: 800px;
        margin-inline: auto;
        margin-block-start: 25%;
        /* replaces the vh-based height */
    }

    .heritage .image-content::after {
        content: "";
        position: absolute;
        top: clamp(50%, 100%, 90%);
        left: 0;
        width: 100%;
        height: 90px;
        z-index: 1000;
        background: linear-gradient(0deg, rgba(59, 1, 16, 1) 78%, var(--black-alpha-15) 100%);
    }


    .heritage-insider .section-text {
        margin: 0;
        padding: 35px;
        width: 100%;
        text-align: center;
        height: max-content;
        margin-inline: auto;
        top: clamp(30%, 40%, 45%);
        right: 0;
        left: 0;
        z-index: 50;
        font-size: calc(2vw + 1vh);
        line-height: var(--lineHeight-5);
        overflow: hidden;
        border: none;
        box-shadow: none;
        margin-block-end: 1rem;

    }

    .section-text span {
        display: none;
    }

    .section-text .logo {
        width: 100%;
        text-align: center;
        margin-block: 10px;
    }

    .heritage-insider img {
        width: 20rem;
    }

    .dots {
        top: 42%;
        right: 7%;
        z-index: 100;
        gap: 10px;
        display: none;
    }

    .dot {
        width: 1.7rem;
        height: 1.7rem;
        aspect-ratio: 1;
        padding: 0;
        margin: 0;

    }

    /* DISCOVER MENU */
    .disc-menu .container {
        display: flex;
        flex-direction: column;
        margin-block: -25vh;
        z-index: -10;
    }

    .disc-menu-img img {
        object-fit: cover;
        background-position: center;
        width: 100%;
        height: 40vh;
    }

    .disc-menu-main img {
        height: 400px;
    }

    .disc-menu-card {
        padding: 3rem;
        background: url(/images/10026.jpg);
        background-size: cover;
        color: var(--eerie-black-2);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    /* SPECIAL MENU */
    .special-menu .container::before {
        display: none;
    }

    .special-menu .container {
        margin-block-start: clamp(20rem, 30rem, 40rem);
    }

    .slide-items {
        justify-content: flex-start;
    }

    .special-menu .headline-1 {
        margin-block-start: 1rem;
    }

    .special-menu .special-menu-bg,
    .special-menu-btn {
        display: none;
    }
}

@media (min-width:500px) and (max-width:1100px) {
    .heritage .section-text {
        top: clamp(25%, 34%, 40%);
        padding-inline: 9rem;
        letter-spacing: 1px;
        font-size: calc(1vw + 1vh);
        margin: auto;
        max-width: 800px;

    }

    .heritage .image-content {
        position: absolute;
        top: clamp(150px, 15vh, 300px);
        left: 0;
        right: 0;
        width: 100%;
        height: 300px;
        justify-self: center;
        max-width: 800px;
        margin-inline: auto;
        margin-block-start: 20px;
        background-position-y: bottom;
        background-position-x: center;

    }


    .heritage .image-content::after {
        content: "";
        position: absolute;
        top: clamp(50%, 100%, 90%);
        left: 0;
        width: 100%;
        height: 150px;
        z-index: 1000;
        background: linear-gradient(0deg, rgba(59, 1, 16, 1) 78%, var(--black-alpha-15) 100%);
    }

    .heritage .heritage-overlay {
        margin: 0;
        width: 100%;
    }

    .heritage {
        margin-inline-end: 0;
        margin-block: 0;
    }

    .heritage .overlay-content {
        align-items: center;
        width: 100vw;
        height: 80vh;
        max-width: 100%;
    }

    .dots {
        display: none;
    }

    .heritage .overlay-content {
        margin-inline: 0;
    }

    .heritage .overlay-content .headline-1 {
        margin-inline-end: 0;
        margin-inline: auto;
        text-align: center;
    }

    /* DISCOVER MENU */
    .disc-menu .container {
        margin-block-start: -45vh;
        z-index: -10;
    }

    .special-menu .container {
        margin-block-start: clamp(30rem, 30vh, 40rem);
    }
}

@media (max-width: 768px) {
    .slide-item {
        flex: 0 0 calc(50% - 14px);
        transform: scale(0.9);
        gap: 15px;
    }

    .shape {
        display: none;
    }
}

@media (max-width: 480px) {
    .slide-item {
        flex: 0 0 100%;
        transform: scale(0.8);
        gap: 10px;
    }
}